.day-page {
  padding: 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--stone-dark);

  h1,
  h2 {
    margin: 0;
  }

  .screen-container {
    height: 100vh;
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
    display: grid;

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: radial-gradient(#aff8f7, var(--blue-light));
      box-shadow: 0px 0px 3px 3px #aff8f7;
      border: solid var(--blue-darker);
      position: relative;
      border-radius: 100%;
      top: -10px;
      left: -10px;
      z-index: 2;
      grid-area: 1 / 1;
    }

    .timer-panel {
      height: 100vh;

      grid-area: 1 / 1;
    }
  }
}
