@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Oxanium:wght@200..800&family=Science+Gothic:slnt,wdth,wght,CTRS@-10..0,50..200,100..900,0..85&display=swap");

:root {
  --stone-dark: #3a3432;
  --stone-light: #eadcc5;
  --stone-light-2: #c2a690;
  --stone-dark-2: #6c5643;
  --blue-light: #55fdfb;
  --blue-dark: #184f6f;
  --blue-darker: #010c1f;
  --red-light: #fd5555;
  --red-dark: #6f1818;
  --red-darker: #330303;
  --gray: #898989;
  --golden: #bf934a;
  --blue-darker-70: rgba(1, 12, 31, 0.7);
  --blue-dark-70: rgb(24, 79, 111, 0.5);
  --console-text-font: "Oxanium", sans-serif;
  --console-title-font: "Science Gothic", sans-serif;
  --stone-text-font: "Caesar Dressing", system-ui;
}

* {
  box-sizing: border-box;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--stone-dark);
}

h1,
h2 {
  font-family: var(--stone-text-font);
  font-weight: 500;
  color: var(--stone-dark);
}

h1 {
  font-size: 56px;
  @media (max-width: 1024px) {
    font-size: 30px;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
