.activity-panel {
  height: 100vh;
  position: relative;
  color: var(--blue-light);
  font-family: var(--console-title-font);
  font-size: 14px;
  background-color: var(--blue-darker-70);
  box-shadow: 0px 0px 5px 3px var(--blue-light);
  grid-area: 1 / 1;
  z-index: 1;
  font-variant-numeric: tabular-nums;

  activity-loader {
    height: 100%;
  }

  .activity-detail {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 25% 1fr 5% 5%;
  }
  .activity-detail,
  .activity-edit {
    > div {
      border-bottom: solid;

      textarea::-webkit-scrollbar {
        /* background-color: var(--blue-darker); */
        width: 5px;
      }
    }
  }

  div::-webkit-scrollbar {
    /* background-color: var(--blue-darker); */
    width: 5px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: var(--blue-light);
    /* outline: 1px solid slategrey; */
  }

  div::-webkit-scrollbar-corner {
    display: none;
  }

  .activity-header {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid;

    .title-detail {
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      align-content: center;
      overflow: hidden;
    }

    .close-button {
      padding: 10px;
    }
  }

  .activity-description,
  .activity-tasks {
    padding: 0 15px;
    text-align: left;
    overflow: scroll;

    .task-title {
      margin-bottom: 0;
    }

    .task-item {
      display: flex;
      align-items: center;

      .checked-task {
        text-decoration: line-through;
      }

      p,
      input[type="text"] {
        margin-left: 10px;
      }

      input[type="checkbox"] {
        width: 12px !important;
        height: 10px !important;
        outline: 1px solid var(--blue-light);
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;

        &:checked {
          background-color: var(--blue-light);
        }
      }
    }
  }

  .activity-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    div {
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: var(--blue-darker);
      border-right: solid;
    }

    :last-child {
      border-right: none;
    }
    a {
      text-decoration: none;
      color: var(--blue-light);
    }
  }

  .activity-resourses {
    display: grid;
    grid-template-columns: 65% 25% 10%;
    align-items: center;

    input,
    button {
      background-color: var(--blue-darker);
      border: none;
      outline: none;
      font-family: var(--console-title-font);
      color: var(--blue-light);
      font-size: 14px;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }

    input {
      height: 90%;
    }

    button {
      height: 100%;
      border-left: 1px solid;
    }
  }

  .activity-edit {
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 5% 5% 25% 1fr 5%;

    .activity-header,
    .activity-edit-schedule,
    .activity-edit-destiny {
      background-color: var(--blue-darker);
      align-items: center;
      border-bottom: solid;
    }

    .activity-edit-schedule {
      display: flex;
      justify-content: space-around;
      text-align: center;

      input {
        text-align: center;
        width: 40%;
        color: var(--blue-light);
      }

      input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }
    }

    .activity-edit-destiny {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;

      select,
      input {
        height: 100%;

        &:focus-visible {
          border-left: solid;
        }
      }

      select {
        width: 20%;
        border-left: solid;
      }
      input {
        width: 100%;
      }
    }

    .activity-description {
      textarea {
        width: 100%;
        height: 60%;
      }

      textarea::-webkit-scrollbar {
        /* background-color: var(--blue-darker); */
        width: 5px;
      }

      textarea::-webkit-scrollbar-thumb {
        background-color: var(--blue-light);
        /* outline: 1px solid slategrey; */
      }

      textarea::-webkit-scrollbar-corner {
        display: none;
      }
    }

    .activity-tasks {
      input {
        margin: 10px 10px;
        font-size: 16px;
        width: 100%;
      }
      i {
        font-size: 18px;
      }
    }

    .save-activity-button {
      grid-column: 2/4;
    }

    input,
    button,
    select,
    option,
    textarea {
      background-color: var(--blue-darker);
      border: none;
      outline: none;
      font-family: var(--console-title-font);
      color: var(--blue-light);
      font-size: 14px;

      &:focus-visible {
        border: none;
        outline: none;
        background-color: var(--blue-dark);
      }
    }
  }
}
