.edit-day-page {
  font-family: var(--stone-text-font);
  padding: 20px;
  font-variant-numeric: tabular-nums;

  h2 {
    color: var(--stone-light);
  }

  .clavo {
    background-color: var(--blue-dark);
  }

  .input-title-container {
    .clavo {
      background-color: var(--gray);
    }
    background-color: var(--stone-light);
    padding: 10px;
    position: relative;

    input {
      font-size: 24px;
      background-color: var(--stone-light);
      font-family: var(--stone-text-font);
      width: 100%;
      height: 50px;
      border: none;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }
  }
}

.date-changer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .date-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;

    /* max-width: 20%; */
    i {
      font-size: 18px;
    }

    p {
      font-size: 20px;
      background-color: var(--blue-dark);
      color: var(--blue-light);
      font-family: var(--console-title-font);
      width: 45px;
      height: 45px;
      border-radius: 5px;
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 15px;
    }

    .date-input-control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px;

      .wheel-change {
        background-color: var(--stone-dark-2);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 8px var(--stone-light-2);
        border-radius: 50%;
        margin: 5px;
      }
    }
  }
}

.budget-editor {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  p {
    background-color: var(--blue-dark);
    color: var(--blue-light);
    font-family: var(--console-title-font);
    font-size: 25px;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin: 10px 5px;
  }
}

.items-update-panel {
  .icon-cell {
    width: 45px;
    height: 45px;
    background-color: var(--stone-light-2);
    margin-top: 15px;
  }
}

.send-button {
  width: 65px;
  height: 65px;
  background-color: var(--blue-light);
  border: solid 8px black;
  border-radius: 50%;
  margin: 20px auto;
}
